# Файлы, которые НЕ нужно загружать
.env         # конфиденциальные данные
__pycache__/ # кеш Python
*.db         # базы данных
*.csv        # временные файлы экспорта
.venv/       # виртуальное окружение
venv/        # виртуальное окружение
.DS_Store    # служебные файлы MacOS
